@model Shoppingcart.Models.CodeFirst.Item

@{
    ViewBag.Title = "Details";
}

<h2 style="color:#f5f5f5;">Details</h2>

<div>
    <h4 style="color:#f5f5f5;">Item</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size:medium;color:#f5f5f5;">
        @if (User.IsInRole("Admin"))
        {
            
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        @if (User.IsInRole("Admin"))
        {
        <dt>
            @Html.DisplayNameFor(model => model.MediaURL)
        </dt>
        }
        <dd>
            <img src="@Url.Content( @Model.MediaURL)"/>
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>
      
    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        @Html.ActionLink("Delete","Delete", new { id = Model.ID})

    }
    <div>
   <a href="@Url.Action("Index","Items")" class="btn btn-default">Back To Inventory</a>
     &nbsp;
   <a href="@Url.Action("Index", "cartitems")" class="btn btn-danger">Check Here To Go Back To Your Cart!</a>

    @using (Html.BeginForm("Add", "CartItems", new { itemId = Model.ID }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-default" value="Add To Cart!" style="color:#FF533D" />

    }


    </div>



</p>
