<!--end of sidebar Navagation col-->
<!--beginning of images-->
@model IEnumerable<Shoppingcart.Models.CodeFirst.Item>
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Create New", "Create")
}
>
<div class="container">
   
    <div class="row" style="text-align:center;margin-left:0px;margin-right:0px;">
        @foreach (var item in Model)
            {
            <div class="col-md-3">
                <a href="@Url.Action("Details","items" ,new {id = item.ID })"/>
                <img src="@Url.Content(item.MediaURL)" class="img-responsive" style="display:block;margin:auto" />
                <p style="margin-left:0px;color:#f5f5f5"><strong>@item.Name</strong></p>
                <p style="margin-left:0px;color:#f5f5f5"><strong>$@item.Price.ToString()</strong></p>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })

                }
               
            </div>

        }
    </div>
</div>

  
@*<div class="col-md-3">
            <img src="~/Assests/Images/m2.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p style="margin-left:0px;"><strong>CFW-1200</strong></p>
            <p style="margin-left:0px;"><strong>$130,000</strong></p>
        </div>

        <div class="col-md-3">
            <img src="~/Assests/Images/m3.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p style="margin-left:0px;"><strong>CFW-1400</strong></p>
            <p style="margin-left:0px;"><strong>$111,000</strong></p>
        </div>

        <div class="col-md-3">
            <img src="~/Assests/Images/m5.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p style="margin-left:0px;"><strong>CFW-1500</strong></p>
            <p style="margin-left:0px;"><strong>$115,000</strong></p>
        </div>
    </div>


    <div class="row" style="text-align:center;margin-left:0px;margin-right:0px">
        <div class="col-md-3">
            <img src="~/Assests/Images/m6.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p style="margin-left:0px;"><strong>CFW-1700</strong></p>
            <p style="margin-left:0px;"><strong>$115,000</strong></p>
        </div>
        <div class="col-md-3">
            <img src="~/Assests/Images/m7.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p id="imagetext1">Sold Out<br />Check Back Soon!</p>
            <p style="margin-left:0px;"><strong>CFW-1900</strong></p>
            <p style="margin-left:0px;"><strong>$135,000</strong></p>
        </div>
        <div class="col-md-3">
            <img src="~/Assests/Images/m8.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p style="margin-left:0px;"><strong>CFW-2000</strong></p>
            <p style="margin-left:0px;"><strong>$125,000</strong></p>
        </div>
        <div class="col-md-3">
            <img src="~/Assests/Images/m9.jpg" class="img-responsive" style="display:block;margin:auto" />
            <p style="margin-left:0px;"><strong>CFW-2100</strong></p>
            <p style="margin-left:0px;"><strong>$120,000</strong></p>
        </div>
    </div>
                </div>
            </div>*@


